
<div class="background">
	
	<ul class="center listnone">

		<h1>List of projects</h1>
		<% @projects.each do |project| %>

			<% if project.description.blank? %>
			<!--<li class="orange"><%= project.name %></li>-->
			<%= link_to project.name, project_path, {class: "button expand"} %>

			<% else %>

			<li class="orange">
				<!--<%= project.name %>-->
				<%= link_to project.name, project_path(project.id), {class: "button expand"} %>				
				<br>
				<span class="black"><%= project.description %></span>
				<br>
				<% project.entries.each do |entry| %>
				<span class="grey"><%= "#{entry.hours}" " hours and " "#{entry.minutes}" "minutes"%></span><br>
				
				<% end %>
			</li>
			<% end %>
			<hr class="grey">

		<% end %>
	</ul>
</div>
